#sample haproxy config file
global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

defaults
	log	global
    retries 20
    maxconn 32000
    timeout connect 50000
    timeout server 24h
    timeout client 24h

#read will be balanced
listen mariadb-cluster-read
    bind 0.0.0.0:33306
    mode tcp
    option mysql-check user haproxy_check
    balance roundrobin
    server mysql-1 192.168.56.111:3306 check
    server mysql-2 192.168.56.112:3306 check

#This is for app which need high ACID, and high availability (read extensive).
listen mariadb-cluster-write
    bind 0.0.0.0:33307
    mode tcp
    option mysql-check user haproxy_check
    balance roundrobin
    server mysql-1 192.168.56.111:3306 check
    server mysql-2 192.168.56.112:3306 check backup

listen stats *:1936
    mode http
    stats enable
    stats uri /
    stats hide-version
    stats auth ubuntu:1