label
{
  .control-label
  {
    font-size: 13px;
    font-weight: normal;
    color: #666;

    & > span.label-tooltip
    {
      text-decoration: none;
      font-size: 13px;
      color: #3586AE;
      background-color: lighten(#D8EDF7,5%);
      border: none;
      border-bottom: solid 1px #D8EDF7;
      padding: 0 5px;
      border-radius: 3px;
    }
  }

  &.required:before
  {
    content: '*';
    color: red;
    font-size: 14px;
    position: relative;
    line-height: 12px;
  }
}

.tooltip
{
  font-size: 12px;
  font-family: @font-family-serif;
}

select.input-tiny,
input[type="text"].input-tiny,
input[type="password"].input-tiny
{
  width: 80px;
  float: left;
}

textarea
{
  resize: none;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus,
input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
.uneditable-input:focus
{
  background-color: #FEFBE2;
  .box-shadow(none);
}

//choosen style reset
.chosen-container-single
{
  .chosen-single
  {
    border-radius: @input-border-radius;
    box-shadow: @chosen-box-shadow;
    #gradient > .vertical(white, white) !important;
    .box-shadow(rgba(0, 0, 0, 0.15) 0 1px 4px 1px inset);
  }
}

@media only screen {
  .custom-switch
  {
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    text-align: center;

    &.switch-light
    {
      margin-left: 0px;
    }

    input
    {
      ~ a
      {
        right: 0% !important; //UNCHECKED: on the right side
        border: solid 1px @brand-danger;
        background-color: lighten(@brand-danger,10%);
        .box-shadow(@brand-danger 0 -1px 0 inset);
      }

      ~ span span
      {
        &:first-of-type
        {
          color: #ccc;
        }
        &:last-of-type
        {
          color: white;
        }
      }
    }

    input:checked
    {
      ~ a
      {
        right: 50% !important; //CHECKED: on the left side
        border: solid 1px @brand-success;
        background-color: lighten(@brand-success,10%);
        .box-shadow(@brand-success 0 -1px 0 inset);
      }
      ~ span span
      {
        &:first-of-type
        {
          color: white
        }
        &:last-of-type
        {
          color: #ccc
        }
      }
    }

    *
    {
      outline: 0!important;
    }

    label
    {
      text-transform: uppercase;
      font-weight: 400;
      cursor: pointer;
      .transition(#bbb 0.2s ease-out);
    }

    input:checked + label
    {
      color: white;
    }

    & > span
    {
      color: #666;
      text-transform: uppercase;
      cursor: pointer;
    }


  }
}


