//navbar height
@navbar-top-height: 52px;

.main-navbar
{
  border-radius: 0;
  border: none;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 500;

  //Also hackist way
  min-height: 56px;

  .navbar-header
  {
    .navbar-toggle
    {
      margin-top: 7px;
    }

    .navbar-brand
    {
      line-height: @navbar-top-height;
      height: auto;
      float: none;

      .fa.logo
      {
        float: left;
        line-height: 52px;
        font-size: 42px;
      }

      .text
      {
        margin: -2px 7px 0px 8px;
        font-size: 15px;
        color: white;
        display: inline-block;
        float: left;
      }
    }
  }

  .navbar-collapse
  {
    .navbar-nav
    {
      & > li
      {
        font-size: 11px;

        & > a
        {
          text-transform: uppercase;
        }

        a
        {
          i.fa
          {
            margin-right: 5px;
          }
        }

        &.with-icon
        {
          & > a
          {
            padding: 3px 15px;

            i
            {
              font-size: 30px;
              display: block;
              text-align: center;
            }
          }
        }

        &.no-uppercase
        {
          & > a
          {
            text-transform: capitalize;
          }
        }
      }

      &.navbar-right
      {
        .account-wrapper
        {
          .account-text
          {
            text-transform: capitalize;
            padding-top: 10px;
            padding-bottom: 14px;

            //TODO: this is quite hackish way
            line-height: 31px;

            .avatar_wrapper
            {
              .img-thumbnail
              {
                border: none;
                //border-radius: 32px;
                padding: 0px;
                max-height: 32px;
                width: auto;
              }
            }
          }

          .dropdown-menu
          {
            .avatar-wrapper
            {
              height: 80px;
              width: 80px;
              overflow: hidden;
              margin: 10px auto !important;
              border-radius: 80px;
              display: block !important;

              .img-thumbnail
              {
                max-width: 100%;
                height: auto;
                padding: 0;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}