//navbar height
@navbar-top-height: 52px;

.main-navbar
{
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 500;

  .navbar-header
  {
    .navbar-toggle
    {
      margin-top: 7px;
    }

    .navbar-brand
    {
      line-height: @navbar-top-height;
      height: auto;
      float: none;

      .fa.logo
      {
//        background: url("../assets/images/snowflake.png");
//        width: 33px;
//        height: 33px;
//        display: inline-block;
//        float: left;
//        position: absolute;
//        top: 5px;
//        left: 0;
//        background-size: 33px 33px;
//        margin-left: 11px;

        float: left;
        line-height: 52px;
        font-size: 42px;
      }

      .text
      {
        margin: -2px 7px 0px 8px;
        font-size: 15px;
        color: white;
        display: inline-block;
        float: left;
      }
    }
  }

  .navbar-collapse
  {
    .navbar-nav
    {
      & > li
      {
        border-right: 1px solid #37393d;
        font-size: 11px;

        &:first-child
        {
          border-left: 1px solid #37393d;
        }

        & > a
        {
          color: white;
          text-transform: uppercase;

          height: @navbar-top-height;
          line-height: @navbar-top-height;
          padding: 0 16px;
        }

        a
        {
          i.fa
          {
            margin-right: 5px;
          }
        }

        &.active,
        &:hover,
        {
          background-color: rgba(255,255,255,0.15);
          & > a
          {
            background-color: inherit;
          }
        }

        &.with-icon
        {
          & > a
          {
            padding: 3px 15px;

            i
            {
              font-size: 30px;
            }
          }
        }

        &.no-uppercase
        {
          & > a
          {
            text-transform: capitalize;
          }
        }
      }

      &.navbar-right
      {
        .account-wrapper
        {
          .account-text
          {
            text-transform: capitalize;

            .avatar_wrapper
            {
              .img-thumbnail
              {
                border: none;
                border-radius: 32px;
                padding: 0px;
              }
            }
          }

          .dropdown-menu
          {
            .avatar-wrapper
            {
              height: 80px;
              width: 80px;
              overflow: hidden;
              margin: 10px auto !important;
              border-radius: 80px;
              display: block !important;

              .img-thumbnail
              {
                max-width: 100%;
                height: auto;
                padding: 0;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}