<div class="login-block-wrapper register-block-wrapper container-fluid">
    <div class="title-wrapper row">
        <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="title-header">Register</div>
            <div class="register-instruction">
                <p>Getting in is easy. Use one of your social networks or start fresh with an email address.</p>
                <p>Already have an account? <a href="#!/login">Sign In.</a></p>
            </div>
        </div>
    </div>

    <div class="main-section row">
        <div class="login-option-wrapper col-md-12">
            <div class="social-login-wrapper col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="facebook-login" ng-click="registerWithFacebook()">
                    <i class="facebook-icon"></i>
                    <span class="text">Register with facebook</span>
                </div>

                <div class="google-login" ng-click="registerWithGoogle()">
                    <span class="google-icon-wrapper">
                        <i class="fa fa-google-plus"></i>
                    </span>
                    <span class="text">Register with google</span>
                </div>

                <div class="twitter-login" ng-click="registerWithTwitter()" ng-show="0">
                    <i class="twitter-icon"></i>
                    <span class="text">Register with twitter</span>
                </div>

                <div class="or"><span>OR</span></div>

                <div class="email-login-wrapper">
                    <span class="email-register-text">Register with Email</span>
                    <form name="registerForm" ng-submit="register()">

                        <div class="control required">
                            <div class="title-label">
                                FULLNAME
                            </div>
                            <div>
                                <input type="text" name="username" ng-model="userInput.name" required>
                            </div>
                        </div>

                        <div class="control required">
                            <div class="title-label">
                                EMAIL
                            <span ng-show="registerForm.email.$error.email" class="error">
                                (Invalid Email)
                            </span>
                            </div>
                            <div>
                                <input type="email" name="email" ng-model="userInput.email" required>
                            </div>
                        </div>

                        <div class="control required">
                            <div class="title-label">
                                PASSWORD
                            <span ng-show="registerForm.password.$error.minlength" class="error">
                                (Password must have at least 6 characters)
                            </span>
                            </div>
                            <div>
                                <input type="password" name="password"  ng-minlength="6" ng-model="userInput.password" required>
                            </div>
                        </div>

                        <div class="control required">
                            <div class="title-label">
                                RETYPE PASSWORD
                            <span ng-show="registerForm.retypedPassword.$error.passwordMatch" class="error">
                                (Password doesn't match)
                            </span>
                            </div>
                            <div>
                                <input type="password" name="retypedPassword"
                                       ng-change="registerForm.retypedPassword.$setValidity('passwordMatch',registerForm.password.$viewValue==registerForm.retypedPassword.$viewValue)"
                                       ng-model="userInput.retypedPassword" required>
                            </div>
                        </div>

                        <div class="term-and-condition">
                        <span>
                            <input type="checkbox" ng-model="userInput.acceptTerms"/>
                        </span>
                        <span>
                            I acknowledge that I have read and accept the Terms of Use Agreement
                        </span>
                        </div>

                        <div class="control" p2l-disable-selection>
                            <div class="submit-btn-wrapper">
                                <button type="submit" class="btn submit btn-primary"
                                        ng-disabled="!userInput.acceptTerms || !registerForm.$valid">Register</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>