.register-block-wrapper
{
  margin-top: 170px;
  .main-section
  {
    .email-login-wrapper
    {
      margin-top: 0px;
      .email-register-text
      {
        margin-bottom: 14px;
        display: block;
        font-size: 18px;
      }

      .term-and-condition
      {
        margin-bottom: 20px;
      }

      .required
      {
        .title-label
        {
          &:before
          {
            content: "*";
            color: red;
          }
        }
      }

      .title-label
      {
        .error
        {
          color: @brand-danger;
        }
      }
    }
  }
}