<!--TreeView-->
<!--jstree-wholerow-ul        -->
<div id="tree" class="jstree jstree-1 jstree-default">
    <ul class="jstree-container-ul jstree-no-dots">
        <li ng-repeat="node in rootNodes" class="jstree-node">
            <i class="jstree-icon jstree-ocl" ng-click="toggleChildNode(node)"></i>
            <a class="jstree-anchor" ng-click="selectTreeNode(node)"
               ng-class="{'jstree-clicked': selectedTreeNode.id == node.id}">
                <i class="jstree-icon jstree-themeicon"></i>
                {{node.name}}
            </a>
            <span ng-show="!!node.nodeOpen" ng-include="'treeView/treeViewItem.tpl.html'"></span>
        </li>
    </ul>
</div>