<div>
    <div class="chat-window" style="right: 10px;">
        <div class="chat-window-title">
            <div class="text">
                Chat
                <i class="glyphicon pull-right"
                   ng-class="{'glyphicon-chevron-down': !!collapsed, 'glyphicon-chevron-up': !collapsed}"
                   ng-click="collapsed=!collapsed;"></i>
            </div>
        </div>
        <div class="chat-window-content" ng-init="collapsed=false;">
            <div class="chat-window-inner-content" ng-class="{'collapsed': !!collapsed}">
                <div class="user-list-item" ng-repeat="user in users" ng-click="openChat(user)">
                    <img class="profile-picture"
                         ng-src="{{user.avatar}}">
                    <div class="profile-status" ng-class="{'online': user.status == 'online'}"></div>
                    <div class="content" ng-bind="user.name"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-window" style="right: 295px;"
         chat-conversation
         chat-session="chatSession"
         super-socket="superSocket"
         idx="idx"
         ng-repeat="(idx, chatSession) in chatSessions">
    </div>
</div>
