<div>
    <div class="chat-window" style="right: 10px;">
        <div class="chat-window-title">
            <div class="text">Chat</div>
        </div>
        <div class="chat-window-content">
            <div class="chat-window-inner-content">
                <div class="user-list-item" ng-repeat="user in users" ng-click="openChat(user)">
                    <img class="profile-picture"
                         ng-src="{{user.avatar}}">
                    <div class="profile-status" ng-class="{'online': user.status == 'online'}"></div>
                    <div class="content" ng-bind="user.name"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-window" style="right: 252px;" ng-repeat="chatSession in chatSessions">
        <div class="chat-window-title" ng-class="{'online': chatSession.users[0].status == 'online'}">
            <div class="close" ng-class="closeChat(chatSession)"></div>
            <div class="text">{{chatSession.users[0].name}}</div>
        </div>
        <div class="chat-window-content">
            <div class="chat-window-inner-content">
                <div class="chat-message" ng-repeat="chatMessage in chatSession.messages">
                    <div class="chat-gravatar-wrapper">
                        <img ng-src="{{chatMessage.user.avatar}}" style="width: 32px; height: 32px;">
                    </div>
                    <div class="chat-text-wrapper">
                        <p class="" ng-bind="chatMessage.content"></p>
                    </div>
                </div>
            </div>

            <div class="chat-window-text-box-wrapper">
                <!--chat input window-->
                <textarea rows="1" class="chat-window-text-box" chat-textarea chat-session='chatSession'
                          submit-message='submitMessage(chatSession, message)'
                          style="overflow: hidden; word-wrap: break-word; resize: none; height: 26px;"></textarea>
            </div>
        </div>
    </div>
</div>
