//need to override some custom variables
@import "./../../vendor/font-awesome/less/variables.less";
@fa-font-path:  "../assets/fonts";

@import "./../../vendor/font-awesome/less/mixins.less";
@import "./../../vendor/font-awesome/less/path.less";
@import "./../../vendor/font-awesome/less/core.less";
@import "./../../vendor/font-awesome/less/larger.less";
@import "./../../vendor/font-awesome/less/fixed-width.less";
@import "./../../vendor/font-awesome/less/list.less";
@import "./../../vendor/font-awesome/less/bordered-pulled.less";
@import "./../../vendor/font-awesome/less/spinning.less";
@import "./../../vendor/font-awesome/less/rotated-flipped.less";
@import "./../../vendor/font-awesome/less/stacked.less";
@import "./../../vendor/font-awesome/less/icons.less";

@import './../../vendor/bootstrap/less/bootstrap.less';
@import './../login/login/login.less';
@import './../login/register/register.less';
@import './../login/forgotPassword/forgotPassword.less';
@import './../login/activateAccount/activateAccount.less';
@import './../login/resetPassword/resetPassword.less';
@import './partials/_typography.less';

@login-them-color: #0191c8;
@login-text-color: black;

body
{
  font-family: "Open Sans", "ProximaNovaRegular", "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #0191c8 url("../assets/images/noise.png");
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333;
}

.btn.submit
{
  position: absolute;
  right: 15px;
  text-transform: uppercase;
  padding: 11px 29px;
}