<!--Header BreadCumb-->
<div header-bread-crump title="User Account" sub-title="My Account" icon-class="fa fa-users"></div>

<div class="content bootstrap userAccountPage">
<form name="accountForm" class="userAccountForm form-horizontal"
      method="post" enctype="multipart/form-data">
<input type="hidden" name="id_user" id="id_user">

<div header-hint margin-top='-15' description='TIP! Learn how to update your account'></div>

<div class="panel">
<div class="panel-heading">
    <i class="fa fa-user"></i>
    Account Information
</div>
<div class="form-group">
    <label for="fullname" class="control-label col-lg-3 required">
        Full Name
    </label>
    <div class="col-lg-9 ">
        <input type="text" name="fullname" id="fullname" class="fixed-width-xxl" ng-model='account.name' required="required">
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-3">
        Avatar
    </label>

    <div class="col-lg-9">
        <div style="width: 96px; height: 96px;" ng-show="!!user.avatar">
            <img class="imgm img-thumbnail" alt="" ng-src="{{user.avatar}}" width="96" height="96" >
            <i class="glyphicon glyphicon-user" ng-show="!user.avatar" style="font-size: 40px; text-align: center;"></i>
        </div>

        <div style="width: 96px; height: 96px;border: 1px solid #e3e3e3;"  ng-show="!user.avatar">
            <i class="glyphicon glyphicon-user"
               style="font-size: 60px; text-align: center;color: #e3e3e3;margin-left: 18px;line-height: 96px;">
            </i>
        </div>

        <div>
            <span beaver-file-upload upload-url="/api/upload/uploadAvatar"
                  filters="png|jpg|jpeg|gif"
                  upload-done="uploadCallback(res)">
                <input type="file" style="display: none;" />
                <button class="btn btn-primary upload-btn" onclick="$(this).siblings('input').click()">Upload</button>
            </span>
        </div>

        <div class="callout-panel alert alert-info top7">
            <i class="fa fa-info-circle info"></i>Your avatar should be 96x96. Alternative you can use your facebook and google profile avatar.
            You can resize the avatar using our tool.
        </div>
    </div>
</div>
<div class="form-group">
    <label for="email" class="control-label col-lg-3 required">
        Email address
    </label>
    <div class="col-lg-9 ">
        <div class="input-group">
               <span class="input-group-addon">
               <i class="fa fa-envelope-o"></i>
               </span>
            <input type="text" name="email" id="email" class="fixed-width-xxl form-control"
                   ng-model='account.email' ng-disabled="true"
                   autocomplete="off" required="required">
        </div>
    </div>
</div>

<!--only allow change password for non google + facebook account-->
<div class="form-group" ng-show="!account.fbId && !account.googleId">
    <label class="control-label col-lg-3 ">
        Password
    </label>
    <div class="col-lg-9 ">
        <div class="row">
            <div class="col-lg-12" ng-init="showChangePasswordForm = false;">
                <button type="button" class="btn btn-default"
                        ng-click="showChangePasswordForm = !showChangePasswordForm"
                        ng-show="!showChangePasswordForm">
                    <i class="fa fa-lock"></i>
                    Change password...
                </button>

                <div class="form-password-change well" ng-if="showChangePasswordForm">
                    <div class="form-group" ng-class="{'has-error': accountForm.$errors.currentPassword}">
                        <label class="control-label col-lg-2 required">
                            Current password
                        </label>
                        <div class="col-lg-10">
                            <div class="input-group fixed-width-lg">
                                <span class="input-group-addon"> <i class="fa fa-unlock"></i></span>
                                <input type="password" ng-model="account.currentPassword" name="currentPassword"
                                       ng-minlength="6"
                                       class="form-control" required="required">
                            </div>

                            <!--Invalid Form-->
                            <div class="text-danger top7" ng-show="accountForm.currentPassword.$invalid">
                                Password must has at least 6 character
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group" ng-class="{'has-error': account.$errors.newPassword}" ng-show="!account.generatedPassword">
                        <label class="required control-label col-lg-2">
                        <span class="label-tooltip" data-toggle="tooltip" data-html="true" title=""
                              data-original-title="Minimum of 6 characters.">
                            New password
                        </span>
                        </label>
                        <div class="col-lg-9">
                            <div class="input-group fixed-width-lg">
                              <span class="input-group-addon">
                              <i class="fa fa-key"></i>
                              </span>
                                <input type="password" ng-model="account.newPassword" ng-minlength="6" name="newPassword">
                            </div>
                            <!--Invalid Password-->
                            <div class="text-danger top7" ng-show="accountForm.newPassword.$invalid">
                                Invalid password
                            </div>

                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': account.$errors.newPassword}" ng-show="!account.generatedPassword">
                        <label class="required control-label col-lg-2">
                            Confirm password
                        </label>
                        <div class="col-lg-4">
                            <div class="input-group fixed-width-lg">
                              <span class="input-group-addon">
                              <i class="fa fa-key"></i>
                              </span>
                                <input type="password" ng-model="account.newPasswordConfirmation" name='newPasswordConfirmation'
                                       ng-minlength="6" name="newPassword">
                            </div>

                            <!--Invalid Password Confirmation-->
                            <div class="text-danger top7" ng-show="accountForm.newPasswordConfirmation.$invalid">
                                Password miss match
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <input type="text" ng-model="account.generatedPassword" class="generated-password form-control fixed-width-md pull-left">
                            <button type="button" class="btn btn-default" ng-click="generatePassword()">
                                <i class="fa fa-random"></i>
                                Generate password
                            </button>
                        </div>
                    </div>

                    <!--this function only available if user choose the autogenerated method-->
                    <div class="form-group" ng-show="!!account.generatedPassword">
                        <div class="col-lg-10 col-lg-offset-2">
                            <p class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="account.sendEmailNewPassword">
                                    Send me this new password by Email
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button"
                                    ng-click="$parent.showChangePasswordForm = !$parent.showChangePasswordForm"
                                    class="btn btn-default">
                                <i class="btn-icon-action-cancel fa fa-times"></i>
                                Close
                            </button>

                            <button type="button" class="btn btn-default pull-right"
                                    ng-click="changeNewPassword()"
                                    ng-disabled="account.$invalid">
                                <i class="btn-icon-action-save fa fa-floppy-o"></i>
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-3 ">
        <span class="label-tooltip" data-toggle="tooltip" data-html="true" title="">Email Subscribe</span>
    </label>
    <div class="col-lg-9 ">
        <label class="switch switch-light custom-switch fixed-width-lg" onclick="">
            <input type="checkbox" ng-model="account.emailSubscribe" ng-checked="!!account.emailSubscribe">
            <span>
                <span>YES</span>
                <span>NO</span>
            </span>

            <a></a>
        </label>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-3 ">
         <span class="label-tooltip" data-toggle="tooltip" data-html="true" title="">
            Address
         </span>
    </label>
    <div class="col-lg-9 ">
        <input type="text" class="fixed-width-xxl" placeholder="house no, unit number"  ng-model='account.address'>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-3 ">
         <span class="label-tooltip" data-toggle="tooltip" data-html="true" title="">
            Street
         </span>
    </label>
    <div class="col-lg-9 ">
        <input type="text" class="fixed-width-xxl" placeholder="street name"  ng-model='account.street'>
    </div>
</div>


<div class="form-group">
    <label class="control-label col-lg-3 ">
         <span class="label-tooltip" data-toggle="tooltip" data-html="true" title="">
            City
         </span>
    </label>
    <div class="col-lg-9 ">
        <input type="text" class="fixed-width-xxl" placeholder="city/states" ng-model='account.city'>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-3 ">
         <span class="label-tooltip" data-toggle="tooltip" data-html="true" title="">
            Country
         </span>
    </label>
    <div class="col-lg-9 ">
        <select chosen data-placeholder="Select a country"
                ng-model="account.country"
                ng-options="c for c in countries"
                class="fixed-width-xxl">
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-3 ">
         <span class="label-tooltip" data-toggle="tooltip" data-html="true" title="">
            Postal Code
         </span>
    </label>
    <div class="col-lg-9 ">
        <input type="text" class="fixed-width-xxl" placeholder="postal code" ng-model='account.postalCode'>
    </div>
</div>

<!--Link To Facebook Account-->
<div class="form-group">
    <label class="control-label col-lg-3 ">
         <span class="label-tooltip" data-toggle="tooltip" data-html="true" title="">
            Facebook
         </span>
    </label>
    <div class="col-lg-9 facebook-login">
        <div>
            <div class="top5" ng-class="{'text-success': !!account.fbId, 'text-danger': !account.fbId}">
                Your account is <span ng-show="!account.fbId">not</span> connected to your facebook account
            </div>

            <button class="btn btn-primary top7 fixed-width-xl">
                <i class="fa fa-facebook"></i>
                <span ng-show="!account.fbId">Connect To</span>
                <span ng-show="!!account.fbId">Disconnect From</span>
                Facebook
            </button>
        </div>
    </div>
</div>

<!--Link To Google Plus Account-->
<div class="form-group">
    <label class="control-label col-lg-3 ">
         <span class="label-tooltip" data-toggle="tooltip" data-html="true" title="">
            Google
         </span>
    </label>
    <div class="col-lg-9 google-login">
        <div>
            <div class="top5" ng-class="{'text-success': !!account.googleId, 'text-danger': !account.googleId}">
                Your account is <span ng-show="!account.googleId">not</span>  connected to google
            </div>

            <button class="btn btn-primary top7 fixed-width-xl">
                <i class="fa fa-google-plus"></i>
                <span ng-show="!account.googleId">Connect To </span>
                <span ng-show="!!account.googleId">Disconnect From </span>
                Google
            </button>
        </div>

        <div class="callout-panel alert alert-info top20">
            <i class="fa fa-info-circle"></i>
            By linking to your facebook/google account,
            you can easily login to the system after logging in successfully to your facebook/google accounts. If you chose to disconnect from
            facebook or google, you will not be able to use facebook/google login function. So make sure, you are able to use the normal
            login procedure to continue using our system.
        </div>
    </div>
</div>


<div class="panel-footer">
    <button type="submit" class="btn btn-default pull-right" ng-click="saveUserAccount()">
        <i class="btn-icon-action-save fa fa-floppy-o"></i> Save
    </button>
    <a class="btn btn-default" ng-click="loadCurrentUser()">
        <i class="btn-icon-action-cancel fa fa-times"></i> Cancel
    </a>
</div>
</div>
</form>
</div>
