<div class="login-block-wrapper container-fluid">
    <div class="title-wrapper row">
       <div class="col-md-10 col-md-offset-1">
           <div class="title-header">Sign In</div>
           <div class="register-instruction">
               <p>Use Facebook, Twitter or your email to sign in.</p>
               <p>Don't have an account yet? <a href="#!/register">Registering</a> is easy.</p>
           </div>
       </div>
    </div>

    <div class="main-section row">
        <div class="login-option-wrapper col-md-10 col-md-offset-1">
            <div class="social-login-wrapper col-md-6">
                <div class="facebook-login" ng-click="loginFacebook()">
                    <i class="facebook-icon"></i>
                    <span class="text">Login with facebook</span>
                </div>

                <div class="google-login" ng-click="loginGoogle()">
                    <span class="google-icon-wrapper">
                        <i class="fa fa-google-plus"></i>
                    </span>
                    <span class="text">Login with google</span>
                </div>

                <div class="twitter-login" ng-click="loginTwitter()" ng-show="0">
                    <i class="twitter-icon"></i>
                    <span class="text">Login with twitter</span>
                </div>
            </div>

            <div class="email-login-wrapper col-md-6">
                <form name="loginForm" ng-submit="login()">

                    <div class="control">
                        <div class="title-label">
                            EMAIL OR USERNAME
                        </div>
                        <div>
                            <input type="email" name="email" ng-model="userInput.email" required>
                        </div>
                    </div>

                    <div class="control">
                        <div class="title-label">
                            PASSWORD
                        </div>
                        <div>
                            <input type="password" name="password" ng-model="userInput.password" required>
                        </div>
                    </div>

                    <div class="control row" p2l-disable-selection>
                        <div class="forgot-password-label col-md-6">
                            <a href="#!/forgotPassword">Forgot password?</a>
                        </div>
                        <div class="submit-btn-wrapper col-md-6">
                            <button type="submit" class="btn submit btn-primary">Sign In</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>