<div class="login-block-wrapper register-block-wrapper container-fluid">
    <div class="title-wrapper row">
        <div class="col-md-6 col-md-offset-3">
            <div class="title-header">Register</div>
            <div class="register-instruction">
                <p>Getting in is easy. Use one of your social networks or start fresh with an email address.</p>
                <p>Already have an account? <a href="#/login">Sign In.</a></p>
            </div>
        </div>
    </div>

    <div class="main-section row">
        <div class="login-option-wrapper col-md-6 col-md-offset-3">
            <div class="social-login-wrapper col-md-6">
                <div class="facebook-login">
                    <i class="facebook-icon"></i>
                    <span class="text">Register with facebook</span>
                </div>

                <div class="twitter-login">
                    <i class="twitter-icon"></i>
                    <span class="text">Register with twitter</span>
                </div>
            </div>

            <div class="email-login-wrapper col-md-6">
                <span class="email-register-text">Register with Email</span>
                <form name="loginForm" ng-submit="login()">

                    <div class="control">
                        <div class="title-label">
                            FULLNAME
                        </div>
                        <div>
                            <input type="text" name="username" ng-model="userInput.fullname" required>
                        </div>
                    </div>

                    <div class="control">
                        <div class="title-label">
                            EMAIL
                        </div>
                        <div>
                            <input type="text" name="username" ng-model="userInput.email" required>
                        </div>
                    </div>

                    <div class="control">
                        <div class="title-label">
                            PASSWORD
                        </div>
                        <div>
                            <input type="password" name="password" ng-model="userInput.password" required>
                        </div>
                    </div>

                    <div class="control">
                        <div class="title-label">
                           RETYPE PASSWORD
                        </div>
                        <div>
                            <input type="password" name="password" ng-model="userInput.retypedPassword" required>
                        </div>
                    </div>

                    <div class="term-and-condition">
                        <span>
                            <input type="checkbox"/>
                        </span>
                        <span>
                            I acknowledge that I have read and accept the Terms of Use Agreement
                        </span>
                    </div>

                    <div class="control" p2l-disable-selection>
                        <div class="submit-btn-wrapper">
                            <button type="submit" class="btn submit btn-primary">Register</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>